
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>

	<div class="content">
		<div class="inner-content">
			<h2>My Heading</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique hic ullam, cumque voluptatem, accusamus in explicabo. Asperiores qui eveniet recusandae sit perferendis, provident unde. Praesentium molestiae nesciunt, recusandae eveniet explicabo.
			</p>
		</div>
	</div>

	<form  method="post">
		{{ p.as_p }}
		{% csrf_token %}
		<input type="Submit" value="MakePayment">
	</form>
	
</body>
</html>